/*@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');*/

.App {
  font-family: "Calibri", sans-serif;
  text-align: center;
}

h2.leadersboardheading {
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}
